.hero-section{
    position: relative;
    padding: 80px 0 120px 0;
    margin-bottom: 100px;
}
.hero-section:after{
    content: '';
    background-image: -webkit-gradient(linear,left top,left bottom,from(#8669ed),to(#727cf5));
    background-image: linear-gradient(to bottom,#8669ed,#727cf5);
    position: absolute;
    top: -400px;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    transform: skewY(-3deg);
}

._circle_icon{
    margin: auto;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bs-primary);
}

.bg-primary-lighten {
    background-color: rgba(114, 124, 245, .25) !important;
}
._small{
    font-size: .400em!important;
}